<div><h1>Hello {{name}} {{lastName}}</h1></div>
<div>
  <input id="textBox" type="text" />
  <p id="logs"> </p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>