<div>
  <form action="">
    <label for="title">Titlte</label>
    <input type="text" name="title" />
    <label for="description"></label>
    <input type="text" name="description" />
    <label for="price"></label>
    <input type="text" name="price" />
    <label for="code"></label>
    <input type="text" name="code" /><label for="stock"></label><input
      type="text"
      name="stock"
    />
  </form>
</div>