<div>
  <form action="" id="restoreForm">
    <label for="password">Nueva contraseña</label>
    <input id="password" type="text" name="password" />
    <label for="repeatPassword">Repetir nueva contraseña</label>
    <input id="repeatPassword" type="text" name="password" />
    <button type="submit">Restaurar contraseña</button>
  </form></div>
<script src="/js/newpassword.js"></script>