<div>Cargando cambio de contrase単a...</div>
<div>
  <h1 id="restoreStatus"></h1>
  <form action="" id="restoreForm">
    <label for="password">Nueva contrase単a</label>
    <input id="password" type="text" name="password" />
    <label for="repeatPassword">Repetir nueva contrase単a</label>
    <input id="repeatPassword" type="text" name="repeatPassword" />
    <button type="submit">Restaurar contrase単a</button>
  </form></div>
<script src="/js/newpassword.js"></script>