<div>
  <h1>Restablecer contraseña</h1>
  <h2 id="emailFail"></h2>
  <form id="restorationForm">
    <label>Email</label>
    <input name="email" />
    <button type="submit">Enviar correo de recuperacion</button>
  </form>
</div>
<script src="/js/restore.js"></script>